* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgb(220, 220, 255), white,rgb(220, 220, 255));
    background-image: url(../files/img/fon.jpg);
}

::selection {background: blue; color: white;}
::-moz-selection {background: blue; color: white;}
::-webkit-selection {background: blue; color: white;}

hr {
    border-top: 1px solid blue;
}

.lesson {
    background-color: white;
}

header {
    margin: 0 auto;
    width: 1200px;
    border: 2px solid rgb(70, 70, 255);
}
header h1 {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 1100px;
    text-align: center;
    background: linear-gradient(90deg, white, rgb(70, 70, 255),  rgb(70, 70, 255), white);
    color: white;
}

section {
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
    font-size: 20px;
    border: 2px solid rgb(70, 70, 255);
}

#main {
    overflow: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1100px;
    text-overflow: inherit;
}

#main_menu {
    margin-bottom: 20px;
    width: 1200px;
    outline: 2px solid rgb(70, 70, 255);
}
#main_menu ul {
    width: 1200px;
}
#main_menu ul li {
    padding: 10px 30px 10px 30px;
    display: inline-block;
    list-style: none;
    background-color: rgb(70, 70, 255);
    /* outline: 2px solid greenyellow; */
}
/* #main_menu ul li:first-child {
    margin-left: 1px;
} */
#main_menu ul li:hover {
    background: linear-gradient(90deg, white, rgb(70, 70, 255),  rgb(70, 70, 255), white)
}
#main_menu ul li a {
    color: white;
    text-decoration: none;
}