* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, rgb(220, 220, 255), white,rgb(220, 220, 255));
    background-image: url(../files/img/fon.jpg);
}

::selection {background: blue; color: white;}
::-moz-selection {background: blue; color: white;}
::-webkit-selection {background: blue; color: white;}

hr {
    border-top: 1px solid blue;
}

.lesson_header {
    background-color: white;
    background: rgba(255, 255, 255, 0.5);
}

header {
    margin: 0 auto;
    width: 1200px;
    border: 2px solid rgb(70, 70, 255);
}
header h1 {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 1100px;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(70, 70, 255),  rgb(70, 70, 255), rgba(255, 255, 255, 0));
    color: white;
}

section {
    margin: 0 auto;
    margin-top: 20px;
    width: 1200px;
    font-size: 20px;
    border: 2px solid rgb(70, 70, 255);
}

.main {
    overflow: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 1100px;
    background-color: white;
    text-overflow: inherit;
}

.main_menu {
    background: rgba(255, 255, 255, 0.5);
}

.main_menu {
    width: 1200px;
    outline: 2px solid rgb(70, 70, 255);
}
.main_menu ul {
    width: 1200px;
}
.main_menu ul li {
    padding: 10px 30px 10px 30px;
    display: inline-block;
    list-style: none;
    background-color: rgb(70, 70, 255);
}

.main_menu ul li:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(70, 70, 255),  rgb(70, 70, 255), rgba(255, 255, 255, 0))
}
.main_menu ul li a {
    color: white;
    text-decoration: none;
}

.users_table {
    border-collapse: collapse;
}

.users_table th {
    background-color: rgb(70, 70, 255);
    color: white;
}

.users_table th::selection {background: blue; color: white;}
.users_table th::-moz-selection {background: blue; color: white;}
.users_table th::-webkit-selection {background: blue; color: white;}

.users_table th, td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: 1px solid rgb(70, 70, 255);
}